.details__body-td {
  padding: 10px 10px;
  width: 75%;
}

.details__link {
  color: rgb(29, 133, 212);
  font-weight: 600;
}

.details__body-tr {
  border-bottom: 1px solid #dddddd;
}

.details__body-tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
