.podcast {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-image {
  border-radius: 50%;
  width: 150px;
  position: relative;
  top: 80px;
}

h3 {
  margin: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
  width: 100%;
  min-height: 180px;
  max-width: 360px;
}

.info_containter {
  padding: 0 10px;
  margin-top: 90px;
}

.author-name {
  margin-left: 10px;
}

.link-to-details{
  width: 100%;
}

