.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  min-width: 800px;
}

.content-table thead tr {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}

.content-table th {
  padding: 12px 15px;
}

.table-information {
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.number-episodes {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 25px 0;
  border-radius: 3px;
}

.number-episodes h1 {
  margin-left: 20px;
  font-size: 30px;
}