.podcast-layout {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.podcast-sidebar {
  width: 300px;
  height: 500px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.podcast-details-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.podcast-title-container {
  margin-top: 30px;
}

.podcast-sidebar img {
  height: 180px ;
  border-radius: 5px;
}

.podcast-sidebar h4, h3, p {
  margin: 0;
}

.podcast-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-description-container{
  margin-top: 30px ;
}